*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}
header{
    width: 100%;
    background: rgba(0, 0, 0, .8);
    height: 70px;
    position:fixed;
    z-index: 10;

}
.ancho{
    width: 80%;
    height: 70px;
    margin: auto; 
}
.logo{
    width: 30%;
    height: 70px;
    float: left; 
    padding-top: 10px; 
}
.logo p a{
    color: #fff;
    font-size: 40px;
    text-decoration: none; 
    text-transform: uppercase;
    font-weight: bold; 
    letter-spacing: 1px;
    font-family: rale;

}
nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right; 
    padding-top: 24px; 
}
nav ul li {
    display: inline; 

}
nav ul li a{
    color: #fff;
    font-size: 13px;
    text-decoration: none; 
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold; 
    letter-spacing: 1px;
    font-family: rale;
}
nav ul li a:hover{
   color: aqua;
}
#contenido{
    top: 200px;
    position: absolute;
    margin-left: 30%;
}

body{
    background: url(../images/fondoContac.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-family: rale;
}
form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0,.4);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;

}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none;
    font-family: rale;
}
textarea{
    min-height: 100px;
    max-height: 200px; 
    max-width: 100%;
}
#boton{
    width: 100%;
    height: 30px;
    font-size: 22px;
    border: 0;
    text-align: center;
    background: rgba(255, 0, 0, 0.0);
    border-bottom: solid 1px #fff;
    color: #fff;
    margin-top: 50px;
    transition: all 200ms ease;

}
#boton:hover{
    width: 120%;
    margin-left: -10%;
    cursor: pointer;
}
#boton:active{
    background-color: rgba(255, 255, 255, .2);
    outline: 0;
    border: 0;
    border-radius: 5px;
}
#boton:focus{
    background-color: rgba(255, 255, 255, .2);
    outline: 0;
    border: 0;
    border-radius: 5px;
}
@media(max-width:480px){
    form{
        width: 100%;
    }
}

@font-face{
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf)
}