
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: rgba(0, 0, 0, .8);
    height: 70px;
    position:fixed;
    z-index: 10; 
}
body{

    background-image: url(../images/fondo2.jpg);
    background-repeat: no-repeat; 
    background-size: cover;

    text-align: center;
    
    
}
#logo{
    width: 10%;
    height: 70px;
    float: left; 
    padding-top: 1px;   
}

.ima{
    width: 150px;
    height: 69px;
}
#titulo h1{
    
    color: #fff;
    font-size: 40px;
    text-decoration: none; 
    font-weight: bold; 
    letter-spacing: 3px;
    font-family: rale;
}
.tit{
    color: aqua;
    text-align: center;
    font-family: rale;
    text-transform: uppercase;
    font-size: 30px;
    padding: center; 
}
h2{
    text-transform: uppercase;
    color: #000; 
    font-family: rale;
    letter-spacing: 1px;
    padding-top: 30px;
    font-size: 26px;
}

p{
    color:#000;
    font-family: rale;
    font-size: 19px;
    padding-top: 20px;
}
#menuPrincipal{
    top: 70px;
    position: absolute;
    width: 20%;
    padding: 5px 40px;
    color: aliceblue;
    font-family: rale, sans-serif;
    background: rgba(0, 0, 0, .8);
    position:fixed;
    z-index: 10; 
}
#menuPrincipal ul li a{
    color: #fff;
    font-size: 13px;
    text-decoration: none; 
    text-transform: uppercase; 
    padding-left: 15px; 
    font-weight: bold; 
    letter-spacing: 1px; 
    font-family: rale;
}
#menuPrincipal ul li a:hover{
   color: lightblue;
}

#contenido{
    top: 71px;
    position: absolute;
    width: 70%;
    border-width: 3px;
    border-color: #86BCB9; 
    border-style: solid;  
    text-align: center;
    margin-left: 300px;
    color: aliceblue;
}
.columnasx2{
    width: 33.333%;
    float: left;
    padding: 10px 10px;
    
}
.columnasx2 img{
    width:100%;
}

#leteral{
    top: 71px;
    position: absolute;
    width: 42%;
    border-width: 3px;
    border-color: #86BCB9; 
    border-style: solid;  
    text-align: center;
    margin-left: 1303px;
    color: aliceblue;
}
#piePagina{
    top: 1000px;
    position: absolute;
    width: 132.2%;
    height: 200px;
    margin-left: 5px;
    background: url("../images/subeBaja.jpg");  
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
#nom{
    width: 100%;
    height: 100px;
   

}
#nom h2{
    text-transform: uppercase; 
    color: #86BCB9;
    padding-left: 3px; 
    font-weight: bold; 
    letter-spacing: 1px; 
    font-family: rale;
    text-align: center;
}
#referencia{
    width: 50%;
    height: 100px;
  
    float: left;
    text-align: center;
    padding-top: 24px; 



}
#referencia p  {
    display: inline;
    color: springgreen;
}
#referencia p a{
    text-decoration: none;
    font-weight: bold;
    color: deepskyblue;
}
#referencia p a:hover{
   color: indigo;
}
#copi{
    width: 30%;
    height: 100px;
    margin-left: 1064px;

}
#copi label{
    display: inline;
    float: left;
    text-align: center;
    padding-top: 24px; 
    font-family: rale;
    color: aliceblue;

}
@font-face{
    font-family: rale;
    src: url(../fuentes/Raleway-Regular.ttf)
}